.archive .archive-counter {
  text-align: center;
}
.archive .archive-title {
  text-align: center;
}
.archive .archive-article {
  text-align: center;
}
.archive .archive-article .post-title {
  padding: 0;
  margin: 0;
}
