.archive-container {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
}
.archive-container .archive-counter {
  position: relative;
  padding-left: 1em;
  font-size: 2em;
}
.archive-container .archive-counter::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -0.25em;
  margin-top: -0.25em;
  width: 0.5em;
  height: 0.5em;
  background: #bbb;
  border-radius: 50%;
}
.archive-container .archive-year {
  position: relative;
  padding-left: 1em;
  font-size: 1.8em;
}
.archive-container .archive-year::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -0.25em;
  margin-top: -0.25em;
  width: 0.5em;
  height: 0.5em;
  background: #bbb;
  border-radius: 50%;
}
.archive-container .archive-post {
  position: relative;
  padding-left: 1em;
  padding-right: 0.5em;
  font-size: 1.5em;
}
.archive-container .archive-post .post-title {
  padding: 0.25em 0;
}
.archive-container .archive-post::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -0.25em;
  margin-top: -0.25em;
  width: 0.5em;
  height: 0.5em;
  background: #bbb;
  border-radius: 50%;
}
.archive-container .archive-post .post-date {
  font-size: 0.8em;
  color: #666;
}
.archive-container .archive-post .post-title-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #666;
  border-bottom: 0.05em dashed #bbb;
  transition: 0.3s ease-in-out;
}
.archive-container .archive-post .post-title-link:hover {
  color: #006bde;
  border-bottom: 0.03em solid #006bde;
}
.archive-container .archive-post .post-title-link:active {
  top: 0.1em;
}
