.author {
  text-align: center;
}
.author .author-avatar {
  max-width: 70%;
}
.author .author-name {
  color: $color-author-name;
  font-size: 1.5em;
}
.author .author-description {
  color: $color-author-description;
  font-size: 1.2em;
}
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
.social-links a {
  display: inline-block;
  width: 40%;
  text-decoration: none;
  color: $color-link;
  transition: 0.2s ease-in-out;
  padding: 5px;
  margin: 0 5px;
}
.social-links a:hover {
  border-radius: 4px;
  color: $color-light-link-hover;
  background: $color-light-link-hover-background;
}
.social-links a:active {
  top: 2px;
}
