.category-container {
  font-size: 16px;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
}
.category-container .category-title {
  position: relative;
  padding-left: 1em;
  font-size: 1.5em;
}
.category-container .category-title::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -0.25em;
  margin-top: -0.25em;
  width: 0.5em;
  height: 0.5em;
  background: #ccc;
  border-radius: 50%;
}
.category-container .category-post {
  position: relative;
  padding-left: 1em;
  font-size: 1.2em;
}
.category-container .category-post .post-title {
  padding: 0.25em 0;
}
.category-container .category-post::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -0.25em;
  margin-top: -0.25em;
  width: 0.5em;
  height: 0.5em;
  background: #ccc;
  border-radius: 50%;
}
.category-container .category-post .post-date {
  font-size: 0.8em;
  color: #666;
}
.category-container .category-post .post-title-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #666;
  border-bottom: 0.05em dashed #ccc;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.category-container .category-post .post-title-link:hover {
  color: #006bde;
  border-bottom: 0.05em solid #006bde;
}
.category-container .category-post .post-title-link:active {
  top: 0.1em;
}
