.categories .page-main .categories-counter {
  text-align: center;
  position: relative;
  font-size: 1.5em;
}
.categories .page-main .category-list-link {
  font-size: 1.2em;
}
.categories .page-main .category-list-link:active {
  top: 0.1em;
}
.categories .page-main .category-list-count {
  font-size: 1.2em;
  margin-left: 1em;
}
