.categories-container {
  font-size: 16px;
}
.categories-container .categories-counter {
  text-align: center;
  position: relative;
  padding-left: 1em;
  font-size: 1.5em;
}
.categories-container .category-list-link {
  font-size: 1.2em;
}
.categories-container .category-list-link:active {
  top: 0.1em;
}
.categories-container .category-list-count {
  font-size: 1.2em;
  margin-left: 1em;
}
