.footer {
  margin-top: 1.5em;
  background: #26272b;
  color: #eaeaea;
}
.footer .footer-container {
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}
.footer::selection {
  color: $color-lighter-selection-font;
  background: $color-lighter-selection;
}
.footer a {
  color: #ddd;
  text-decoration: none;
  border-bottom: 0.05em dotted #ddd;
  transition: 0.3s ease-in-out;
}
.footer a:hover {
  color: #fff;
  border-bottom: 0.05em solid #fff;
}
.footer a:active {
  top: 0.1em;
}
.footer .back-to-top {
  display: block;
  text-align: center;
}
.footer .back-to-top a {
  background: #bbb;
  color: #666;
  overflow: hidden;
  display: inline-block;
  margin: 0 auto;
  padding: 0 1em;
  border-bottom-left-radius: 0.15em;
  border-bottom-right-radius: 0.15em;
  font-size: 2em;
}
.footer .back-to-top a:hover {
  color: #006bde;
}
