.header {
  padding-bottom: 2.5em;
  margin-bottom: 0;
  background: #26272b;
  position: relative;
}
.header::selection {
  color: #26272b;
  background: #eaeaea;
}
.header .header-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-betweem;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}
.header .header-box .header-title {
  flex-grow: 2;
  color: #eaeaea;
  padding: 0.5em;
}
.header .header-box .header-title a {
  color: #eaeaea;
  text-decoration: none;
  border-bottom: none;
}
.header .header-box .header-title a:hover {
  color: #eaeaea;
  border-bottom: none;
}
.header .header-box .header-title .title {
  font-size: $font-size-title;
}
.header .header-box .header-title .subtitle {
  font-style: italic;
  text-shadow: 0 0.05em rgba(0,0,0,0.2);
}
.header .header-box .logo {
  flex-grow: 1;
  text-align: center;
  padding-top: 1em;
}
.header .header-box .logo img {
  max-width: 20em;
  width: 100%;
}
