.header {
  padding-bottom: 2.5em;
  margin-bottom: 0;
  background: #26272b;
  position: relative;
}
.header::selection {
  color: #26272b;
  background: #eaeaea;
}
.header .header-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.header .header-container .header-title {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  -ms-box-flex: 2;
  box-flex: 2;
  -webkit-flex-grow: 2;
  flex-grow: 2;
  color: #eaeaea;
  padding: 0.5em;
}
.header .header-container .header-title a {
  color: #eaeaea;
  text-decoration: none;
  border-bottom: none;
}
.header .header-container .header-title a:hover {
  color: #eaeaea;
  border-bottom: none;
}
.header .header-container .header-title .title {
  font-size: $font-size-title;
}
.header .header-container .header-title .subtitle {
  font-style: italic;
  text-shadow: 0 0.05em rgba(0,0,0,0.2);
}
.header .header-container .logo {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  text-align: center;
  padding-top: 1em;
}
.header .header-container .logo img {
  max-width: 20em;
  width: 100%;
}
@media (max-width: 768px) {
  .header .header-container {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -o-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .header .header-container .header-title {
    text-align: center;
  }
}
