.header {
  font-size: 16px;
  padding-bottom: 3em;
  margin-bottom: 0;
  background: #33363b;
  color: #eee;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.header .header-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: auto;
}
.header .header-container .header-title {
  text-align: left;
  width: 50%;
  word-wrap: break-word;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  -ms-box-flex: 2;
  box-flex: 2;
  -webkit-flex-grow: 2;
  flex-grow: 2;
  color: #eee;
  padding: 0.5em;
}
.header .header-container .header-title a {
  color: #eee;
  text-decoration: none;
  border-bottom: none;
}
.header .header-container .header-title a:hover {
  color: #eee;
  border-bottom: none;
}
.header .header-container .header-title .title {
  font-size: $font-size-title;
}
.header .header-container .header-title .subtitle {
  font-style: italic;
  text-shadow: 0 0.05em rgba(0,0,0,0.2);
}
.header .header-container .logo {
  text-align: right;
  width: 50%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  text-align: center;
  padding-top: 1em;
}
.header .header-container .logo img {
  max-width: 20em;
  width: 100%;
}
@media (max-width: 40em) {
  .header .header-container {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -o-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .header .header-container .header-title {
    text-align: center;
    width: auto;
  }
  .header .header-container .logo {
    text-align: center;
    width: auto;
  }
}
