.header {
  padding-bottom: 40px;
  margin-bottom: 0;
  background: #26272b;
  position: relative;
}
.header::selection {
  color: #26272b;
  background: #eaeaea;
}
.header .header-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-betweem;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}
.header .header-box .header-title {
  flex-grow: 2;
  color: #eaeaea;
  padding: 10px 10px;
}
.header .header-box .header-title a {
  color: #eaeaea;
  text-decoration: none;
  border-bottom: none;
}
.header .header-box .header-title a:hover {
  color: #eaeaea;
  border-bottom: none;
}
.header .header-box .header-title .title {
  font-size: $font-size-title;
}
.header .header-box .header-title .subtitle {
  font-style: italic;
  text-shadow: 0 1px rgba(0,0,0,0.2);
}
.header .header-box .logo {
  flex-grow: 1;
  text-align: center;
  padding-top: 20px;
}
.header .header-box .logo img {
  max-width: 400px;
  width: 100%;
}
.nav {
  margin: 0;
  position: relative;
  padding: 0 10px;
  background: #33363b;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block;
}
.nav ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
.nav ul li {
  position: relative;
  text-align: center;
  display: inline-block;
}
.nav ul li a {
  color: #ddd;
  text-decoration: none;
  text-shadow: 0 1px rgba(0,0,0,0.2);
  display: block;
  padding: 15px 15px;
  font-size: 20px;
  transition: 0.2s ease-in;
  border-bottom: none;
}
.nav ul li a:hover {
  border-bottom: none;
  color: #fff;
  background: #252525;
}
.nav ul li a.current {
  border-bottom: none;
  color: #fff;
  background: #222;
}
.nav .nav-toggle {
  text-align: center;
  font-size: 2em;
  position: relative;
  cursor: pointer;
  color: #ddd;
  display: none;
  width: 100%;
  text-align: center;
  border-bottom: none;
}
.nav .nav-toggle:hover {
  border-bottom: none;
  color: #fff;
}
@media (max-width: 768px) {
  .nav .nav-toggle {
    display: block;
  }
  .nav ul {
    display: none;
  }
  .nav ul li {
    display: block;
    text-align: center;
  }
  .nav ul li a {
    border-bottom: none;
  }
  .nav ul li a:hover {
    border-bottom: none;
  }
}
.main {
  margin-top: -40px;
}
.main .main-body {
  width: 100%;
  background: #eaeaea;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 0;
}
.main .main-body .content {
  flex-grow: 1;
  flex-basis: 75%;
  width: 75%;
  flex-shrink: 1;
}
.main .main-body .content .index-post {
  background: #fff;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
}
.main .main-body .content .index-post img {
  width: 100%;
  text-align: center;
  border: 3px solid #bbb;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
}
.main .main-body .content .index-post .readmore {
  display: inline-block;
  padding: 5px 20px;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  transition: 1s ease-in-out;
  transform-origin: 50%;
  background: #a3b354;
  border-bottom: none;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
}
.main .main-body .content .index-post .readmore:hover {
  border-bottom: none;
  transform: rotateX(360deg);
}
.main .main-body .content .index-post .readmore:active {
  top: 2px;
}
.main .main-body .content .index-post .post-tag {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: 1s ease-in-out;
  transform-origin: 50%;
  border-radius: 3px;
  margin: 5px;
  padding: 3px;
  border-bottom: none;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
}
.main .main-body .content .index-post .post-tag:hover {
  border-bottom: none;
  transform: rotateX(360deg);
}
.main .main-body .content .index-post .post-tag:active {
  top: 2px;
}
.main .main-body .content .index-post .post-header {
  padding: 5px 5px;
}
.main .main-body .content .index-post .post-header .post-title-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #26272b;
}
.main .main-body .content .index-post .post-header .post-title-link::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #26272b;
  visibility: hidden;
  transform: scaleX(0);
  transition: 0.2s ease-in-out;
}
.main .main-body .content .index-post .post-header .post-title-link:hover::after {
  visibility: visible;
  transform: scaleX(1);
}
@media (max-width: 768px) {
  .main .main-body {
    flex-direction: column;
  }
  .main .main-body .content {
    width: 100%;
  }
}
.sidebar {
  background: #ddd;
  flex-grow: 0;
  flex-shrink: 0;
  width: 25%;
  flex-basis: 25%;
  padding: 0;
}
.sidebar .search {
  height: 37px;
  display: block;
  text-align: center;
  background: #006bde;
  color: #fff;
  padding-top: 3px;
}
.sidebar .search input {
  width: 60%;
  height: 1.5em;
  border: 2px solid transparent;
  border-bottom: 2px dashed #fff;
  background: #006bde;
  color: #fff;
  transition: 0.2s ease-in-out;
}
.sidebar .search input:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}
.sidebar .search input::placeholder {
  color: #fff;
  opacity: 0.7;
}
.sidebar .search-result-box {
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
  word-warp: break-word;
  transition: 0.2s ease-in-out;
}
.sidebar .search-result-box .search-result-list {
  margin-top: 0;
  padding: 1em 2em;
}
.sidebar .sidebar-item {
  margin: 2em;
}
.sidebar hr {
  margin: 40px 0;
  height: 3px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  position: relative;
  display: block;
  box-sizing: content-box;
  background-color: #ddd;
  background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
}
@media (max-width: 768px) {
  .sidebar {
    width: auto;
  }
}
.author {
  text-align: center;
}
.author .author-avatar {
  max-width: 70%;
  display: block;
  margin: 0 auto;
  border: 2px solid #006bde;
  border-radius: 50%;
  box-shadow: inset 0 -1px 0 #333;
  transition: 1s ease-in-out;
}
.author .author-avatar:hover {
  transform: rotateY(720deg);
}
.author .author-name {
  color: #26272b;
  font-size: 1.5em;
}
.author .author-description {
  color: #444;
  font-size: 1.2em;
}
.author .rss {
  display: block;
  font-size: 1.5em;
  text-decoration: none;
  border-bottom: none;
  color: #fff;
  background: #fc6423;
  transition: 1s ease-in-out;
  transform-origin: 50%;
  border-radius: 3px;
  margin: 5px;
  padding: 3px;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
}
.author .rss:hover {
  transform: rotateX(360deg);
}
.author .rss:active {
  top: 2px;
}
.footer {
  margin-top: 30px;
  background: #26272b;
  color: #eaeaea;
}
.footer .footer-container {
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.footer::selection {
  color: $color-lighter-selection-font;
  background: $color-lighter-selection;
}
.footer a {
  color: #ddd;
  text-decoration: none;
  border-bottom: 1px dotted #ddd;
  transition: 0.2s ease-in-out;
}
.footer a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.footer a:active {
  top: 2px;
}
.footer .back-to-top {
  display: block;
  text-align: center;
}
.footer .back-to-top a {
  background: #bbb;
  color: #666;
  overflow: hidden;
  display: inline-block;
  margin: 0 auto;
  padding: 0 1em;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 2em;
}
.footer .back-to-top a:hover {
  color: #006bde;
}
.archive-container {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
}
.archive-container .archive-counter {
  position: relative;
  padding-left: 20px;
  font-size: 2em;
}
.archive-container .archive-counter::before {
  content: " ";
  position: absolute;
  top: 20px;
  left: 0px;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background: #ddd;
}
.archive-container .archive-counter::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
}
.archive-container .archive-year {
  position: relative;
  padding-left: 20px;
  font-size: 1.8em;
}
.archive-container .archive-year::before {
  content: " ";
  position: absolute;
  top: -50%;
  left: 0px;
  margin-left: -2px;
  width: 4px;
  height: 200%;
  background: #ddd;
}
.archive-container .archive-year::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -5px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 50%;
}
.archive-container .archive-post {
  background: #fff;
  position: relative;
  padding-left: 1em;
  padding-right: 0.5em;
  font-size: 1.5em;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
}
.archive-container .archive-post .post-title {
  padding: 5px 0;
}
.archive-container .archive-post::before {
  content: " ";
  position: absolute;
  top: -50%;
  left: 0px;
  margin-left: -2px;
  width: 4px;
  height: 200%;
  background: #ddd;
}
.archive-container .archive-post::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background: #bbb;
  border-radius: 50%;
  z-index: 1;
}
.archive-container .archive-post .post-date {
  font-size: 0.8em;
  color: #666;
}
.archive-container .archive-post .post-title-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #666;
  border-bottom: 1px dashed #bbb;
  transition: 0.2s ease-in-out;
}
.archive-container .archive-post .post-title-link:hover {
  color: #006bde;
  border-bottom: 1px solid #006bde;
}
.category-container {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
}
.category-container .category-title {
  position: relative;
  padding-left: 20px;
  font-size: 2em;
}
.category-container .category-title::before {
  content: " ";
  position: absolute;
  top: 20px;
  left: 0px;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background: #ddd;
}
.category-container .category-title::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
}
.category-container .category-post {
  background: #fff;
  position: relative;
  padding-left: 20px;
  font-size: 1.5em;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
}
.category-container .category-post .post-title {
  padding: 5px 0;
}
.category-container .category-post::before {
  content: " ";
  position: absolute;
  top: -50%;
  left: 0px;
  margin-left: -2px;
  width: 4px;
  height: 200%;
  background: #ddd;
}
.category-container .category-post::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background: #bbb;
  border-radius: 50%;
}
.category-container .category-post .post-date {
  font-size: 0.8em;
  color: #666;
}
.category-container .category-post .post-title-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #666;
  border-bottom: 1px dashed #bbb;
  transition: 0.2s ease-in-out;
}
.category-container .category-post .post-title-link:hover {
  color: #006bde;
  border-bottom: 1px solid #006bde;
}
.categories {
  background: #fff;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
}
.categories .categories-counter {
  text-align: center;
  position: relative;
  padding-left: 20px;
  font-size: 30px;
}
.categories .category-list-link {
  font-size: 1.2em;
}
.categories .category-list-count {
  font-size: 1.2em;
  margin-left: 1em;
}
.tag-container {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
}
.tag-container .tag-title {
  position: relative;
  padding-left: 20px;
  font-size: 2em;
}
.tag-container .tag-title::before {
  content: " ";
  position: absolute;
  top: 20px;
  left: 0px;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background: #ddd;
}
.tag-container .tag-title::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
}
.tag-container .tag-post {
  background: #fff;
  position: relative;
  padding-left: 20px;
  font-size: 1.5em;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
}
.tag-container .tag-post .post-title {
  padding: 5px 0;
}
.tag-container .tag-post::before {
  content: " ";
  position: absolute;
  top: -50%;
  left: 0px;
  margin-left: -2px;
  width: 4px;
  height: 200%;
  background: #ddd;
}
.tag-container .tag-post::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background: #bbb;
  border-radius: 50%;
}
.tag-container .tag-post .post-date {
  font-size: 0.8em;
  color: #666;
}
.tag-container .tag-post .post-title-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #666;
  border-bottom: 1px dashed #bbb;
  transition: 0.2s ease-in-out;
}
.tag-container .tag-post .post-title-link:hover {
  color: #006bde;
  border-bottom: 1px solid #006bde;
}
.tags {
  background: #fff;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
}
.tags .tags-counter {
  text-align: center;
  position: relative;
  font-size: 30px;
}
.page-container {
  background: #fff;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
}
.page-container img {
  max-width: 100%;
  border: 3px solid #bbb;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
}
.post {
  padding: 20px;
  background: #fff;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
}
.post img {
  width: 100%;
  text-align: center;
  border: 3px solid #bbb;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
}
.post .post-title {
  text-align: center;
  display: block;
  position: relative;
  text-decoration: none;
  color: #26272b;
}
.post .post-meta {
  text-align: center;
  display: block;
  position: relative;
}
.post .post-tag {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: 1s ease-in-out;
  transform-origin: 50%;
  border-radius: 3px;
  margin: 5px;
  padding: 3px;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px 0.5px rgba(0,0,0,0.19);
}
.post .post-tag:hover {
  transform: rotateX(360deg);
}
.post .post-tag:active {
  top: 2px;
}
.post-nav {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}
.post-nav .post-nav-divider {
  width: 30%;
  flex-grow: 0;
  display: block;
  text-align: center;
}
.post-nav .post-nav-item {
  flex-grow: 1;
  font-size: 1.2em;
}
.post-nav .post-nav-item a {
  position: relative;
  display: inline-block;
  line-height: 25px;
  text-decoration: none;
  border-bottom: none;
}
.post-nav .post-nav-item a:hover {
  border-bottom: none;
}
.post-nav .post-nav-item a:active {
  top: 2px;
}
.post-nav .post-nav-next {
  text-align: left;
}
.post-nav .post-nav-prev {
  text-align: right;
}
.reward {
  padding: 10px 0;
  margin: 20px auto;
  width: 90%;
  text-align: center;
}
.reward .qr {
  text-align: center;
}
.reward .qr div {
  padding: 10px;
  display: inline-block;
}
.reward .qr div img {
  width: 200px;
  display: inline-block;
}
.reward .qr div span {
  display: block;
}
.reward button {
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  letter-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  background: #ff2a2a;
  color: #fff;
  border-radius: 3px;
  line-height: 2em;
}
.reward button span {
  padding: 10px 10px;
}
.post-toc {
  position: sticky;
  top: 2em;
}
.post-toc .toc-link.active {
  color: #006bde;
  border-bottom: 1px solid #006bde;
}
html,
body,
.container {
  height: 100%;
}
::selection {
  color: #eaeaea;
  background: #33363b;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: 0 0;
}
::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
::-webkit-scrollbar-corner {
  background-color: #535353;
}
::-webkit-scrollbar-resizer {
  background-color: #ff6e00;
}
body ::-webkit-scrollbar {
  width: 8px;
}
body ::-webkit-scrollbar-thumb {
  background-color: #ddd;
}
body {
  color: #26272b;
  background: #bbb;
  font: 1em "Roboto", "Noto Sans", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #666;
  text-decoration: none;
  border-bottom: 1px dotted #666;
  transition: 0.2s ease-in-out;
}
a:hover {
  color: #006bde;
  border-bottom: 1px solid #006bde;
}
a:active {
  top: 2px;
}
a.gallery-item {
  text-decoration: none;
  border-bottom: none;
}
a.gallery-item:hover {
  border-bottom: none;
}
hr {
  margin: 40px 0;
  height: 3px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  position: relative;
  display: block;
  box-sizing: content-box;
  background-color: #ddd;
  background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
}
code {
  margin: 0 2px;
  color: #fc6423;
  padding: 3px 5px;
  overflow: auto;
  font-size: 1em;
  border-radius: 3px;
  font-family: "Monaco for Powerline", Monaco, Menlo, Consolas, monospace;
  background-color: #f8f8f8;
}
figure {
  overflow: auto;
  font-size: 1em;
  border-radius: 3px;
}
.rtl p,
.rtl a,
.rtl h1,
.rtl h2,
.rtl h3,
.rtl h4,
.rtl h5,
.rtl h6,
.rtl li,
.rtl ul,
.rtl ol {
  direction: rtl;
  font-family: UKIJ Ekran;
}
.caption {
  color: #999;
  display: block;
  text-align: center;
}
.container {
  position: relative;
  padding: 0;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}
.blockquote-center {
  position: relative;
  margin: 40px 0;
  padding: 0;
  border-left: none;
  text-align: center;
}
.blockquote-center::before,
.blockquote-center::after {
  position: absolute;
  content: ' ';
  display: block;
  width: 100%;
  height: 24px;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: 0 -6px;
  background-size: 22px 22px;
}
.blockquote-center::before {
  top: -20px;
  background-image: url("../images/quote-l.svg");
  border-top: 1px solid #ddd;
}
.blockquote-center::after {
  bottom: -20px;
  background-image: url("../images/quote-r.svg");
  border-bottom: 1px solid #ddd;
  background-position: 100% 8px;
}
.blockquote-center p,
.blockquote-center div {
  text-align: center;
}
.pagination {
  padding: 20px;
  display: block;
  text-align: center;
}
.pagination .page-number,
.pagination .extend {
  position: relative;
  overflow: hidden;
  font-size: 20px;
  padding: 10px 10px;
  display: inline;
  margin: 0 10px;
  text-decoration: none;
  border-bottom: 3px solid #bbb;
  transition: 0.2s ease-in-out;
}
.pagination .page-number:hover,
.pagination .extend:hover {
  border-bottom: 3px solid #006bde;
}
.pagination .page-number.current,
.pagination .extend.current {
  border-bottom: 3px solid #006bde;
  border-top: 1px solid #006bde;
}
.pagination .space {
  font-size: 20px;
  margin: 0 10px;
  color: #bbb;
}
.animate {
  animation: 1s flip forwards;
  position: relative;
  transform-origin: 50%;
  top: 5%;
  transform: rotateX(180deg);
}
@-moz-keyframes flip {
  0% {
    top: 5%;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    top: 0;
  }
}
@-webkit-keyframes flip {
  0% {
    top: 5%;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    top: 0;
  }
}
@-o-keyframes flip {
  0% {
    top: 5%;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    top: 0;
  }
}
@keyframes flip {
  0% {
    top: 5%;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    top: 0;
  }
}
