.info {
  font-size: 16px;
  text-align: center;
}
.info .author-avatar {
  max-width: 90%;
  display: block;
  margin: 0 auto;
  border: 0.3em solid #fff;
  border-radius: 50%;
  box-shadow: 0 0.075em 1em 0.5em rgba(0,0,0,0.19);
  transition: 1s ease-in-out;
}
.info .author-avatar:hover {
  transform: rotateY(720deg);
}
.info .author-name {
  color: #26272b;
  font-size: 1.8em;
  margin: 0.5em;
}
.info .author-description {
  color: #444;
  font-size: 1.2em;
  margin: 0.5em;
}
.info .site-count {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0.5em 0em;
  text-align: center;
  font-size: 0.8em;
}
.info .site-count .site-count-divider {
  line-height: 1.5em;
  font-size: 2em;
}
.info .site-count p {
  margin: 0;
  font-size: 1.2em;
}
.info .rss {
  padding: 0.5em;
}
.info .rss .rss-link {
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  background: #fc6423;
  padding: 0.2em;
  line-height: 1.25em;
}
