.tag-container {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
}
.tag-container .tag-title {
  position: relative;
  padding-left: 1em;
  font-size: 2em;
}
.tag-container .tag-title::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -0.25em;
  margin-top: -0.25em;
  width: 0.5em;
  height: 0.5em;
  background: #bbb;
  border-radius: 50%;
}
.tag-container .tag-post {
  background: #fff;
  position: relative;
  padding-left: 1em;
  font-size: 1.5em;
  box-sizing: border-box;
  box-shadow: 0 0.075em 1em 0.25em rgba(0,0,0,0.19);
}
.tag-container .tag-post .post-title {
  padding: 0.25em 0;
}
.tag-container .tag-post::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -0.25em;
  margin-top: -0.25em;
  width: 0.5em;
  height: 0.5em;
  background: #bbb;
  border-radius: 50%;
}
.tag-container .tag-post .post-date {
  font-size: 0.8em;
  color: #666;
}
.tag-container .tag-post .post-title-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #666;
  border-bottom: 0.05em dashed #bbb;
  transition: 0.3s ease-in-out;
}
.tag-container .tag-post .post-title-link:hover {
  color: #006bde;
  border-bottom: 0.05em solid #006bde;
}
.tag-container .tag-post .post-title-link:active {
  top: 0.1em;
}
