.tag-container {
  padding-left: 2em;
}
.tag-container .tag-title {
  position: relative;
  padding-left: 1em;
  font-size: 1.5em;
}
.tag-container .tag-title::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -0.25em;
  margin-top: -0.25em;
  width: 0.5em;
  height: 0.5em;
  background: #ccc;
  border-radius: 50%;
}
.tag-container .tag-post {
  position: relative;
  padding-left: 1em;
  margin-left: 0;
}
.tag-container .tag-post .post-title {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.tag-container .tag-post::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -0.4em;
  margin-top: -0.4em;
  width: 0.8em;
  height: 0.8em;
  background: #ccc;
  border-radius: 50%;
}
