.tags-container {
  font-size: 16px;
}
.tags-container .tags-counter {
  text-align: center;
  position: relative;
  font-size: 1.5em;
}
.tags-container a {
  text-decoration: none;
  border-bottom: 0.05em dotted #666;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.tags-container a:hover {
  color: #006bde !important;
  border-bottom: 0.05em solid #006bde;
}
.tags-container a:active {
  top: 0.1em;
}
