.comments .comment-results {
  padding: 1em;
}
.comments .comment-results .comment-fail {
  text-align: center;
  color: #444;
}
.comments .comment-results .comments-header {
  padding: 0.5em;
  text-align: center;
  color: #444;
}
.comments .comment-results .comments-main .comment {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: stretch;
  -moz-box-pack: stretch;
  -o-box-pack: stretch;
  -ms-flex-pack: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: start;
  align-items: start;
  margin: 1em 0;
}
.comments .comment-results .comments-main .comment .comment-avatar-container {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 10%;
}
.comments .comment-results .comments-main .comment .comment-avatar-container .comment-avatar {
  width: 70%;
  border: 0.1em solid #fff;
  border-radius: 50%;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.comments .comment-results .comments-main .comment .comment-avatar-container .comment-avatar:hover {
  -webkit-transform: rotateY(720deg);
  -moz-transform: rotateY(720deg);
  -o-transform: rotateY(720deg);
  -ms-transform: rotateY(720deg);
  transform: rotateY(720deg);
  -webkit-box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
}
.comments .comment-results .comments-main .comment .comment-body-container {
  -webkit-box-flex: 9;
  -moz-box-flex: 9;
  -o-box-flex: 9;
  box-flex: 9;
  -webkit-flex: 9 9 auto;
  -ms-flex: 9 9 auto;
  flex: 9 9 auto;
  width: 90%;
  border-radius: 0.3em;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.comments .comment-results .comments-main .comment .comment-body-container .comment-info {
  padding: 0.5em;
  background: #33363b;
  overflow: auto;
}
.comments .comment-results .comments-main .comment .comment-body-container .comment-info .comment-info-author {
  margin: 0 0.5em;
  position: relative;
  color: #ddd;
  text-decoration: none;
  border-bottom: 0.05em dotted #ddd;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.comments .comment-results .comments-main .comment .comment-body-container .comment-info .comment-info-author:hover {
  color: #fff;
  border-bottom: 0.05em solid #fff;
}
.comments .comment-results .comments-main .comment .comment-body-container .comment-info .comment-info-author:active {
  top: 0.1em;
}
.comments .comment-results .comments-main .comment .comment-body-container .comment-info .comment-info-date {
  margin: 0 0.5em;
  color: #eee;
}
.comments .comment-results .comments-main .comment .comment-body-container .comment-info .comment-info-association {
  margin: 0 0.5em;
  padding: 0 0.5em;
  border: 0.05em solid #eee;
  border-radius: 0.3em;
  color: #eee;
}
.comments .comment-results .comments-main .comment .comment-body-container .comment-content {
  padding: 0.5em 1em;
  background: #fff;
}
.comments .comment-results .comments-main .comment .comment-body-container .comment-content pre {
  overflow: auto;
  padding: 0.5em;
  background: #f8f8f8;
}
.comments .comment-results .comments-main .comment .comment-body-container .comment-content pre code {
  background: transparent;
}
.comments .comment-results .comments-main .comment .comment-body-container:hover {
  -webkit-box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
}
.comments .comment-results .comments-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.comments .comment-results .comments-footer .comments-send {
  padding: 0.3em 1em;
  background: #9f1313;
  border: 0.1em solid #f5c6cb;
}
