div.comment div.comment-results {
  padding: 1rem;
}
div.comment div.comment-results div.comment-fail {
  text-align: center;
  color: #444;
}
div.comment div.comment-results header.comments-header {
  padding: 0.5em;
  text-align: center;
  color: #444;
}
div.comment div.comment-results main.comments-main div.comment {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: stretch;
  -moz-box-pack: stretch;
  -o-box-pack: stretch;
  -ms-flex-pack: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: start;
  align-items: start;
  margin: 0.5rem 0;
}
div.comment div.comment-results main.comments-main div.comment div.comment-avatar-container {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 10%;
}
div.comment div.comment-results main.comments-main div.comment div.comment-avatar-container img.comment-avatar {
  width: 70%;
  border: 0.1rem solid #fff;
  border-radius: 50%;
  -webkit-transition: box-shadow 0.3s ease-in-out, -webkit-transform 1s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out, -moz-transform 1s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, -o-transform 1s ease-in-out;
  -ms-transition: box-shadow 0.3s ease-in-out, -ms-transform 1s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, transform 1s ease-in-out;
}
div.comment div.comment-results main.comments-main div.comment div.comment-avatar-container img.comment-avatar:hover {
  -webkit-box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
  -webkit-transform: rotateY(720deg);
  -moz-transform: rotateY(720deg);
  -o-transform: rotateY(720deg);
  -ms-transform: rotateY(720deg);
  transform: rotateY(720deg);
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container {
  -webkit-box-flex: 9;
  -moz-box-flex: 9;
  -o-box-flex: 9;
  box-flex: 9;
  -webkit-flex: 9 9 auto;
  -ms-flex: 9 9 auto;
  flex: 9 9 auto;
  width: 90%;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 0.3em;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info {
  padding: 0.5em;
  color: #eee;
  background: #33363b;
  overflow: auto;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a {
  position: relative;
  color: #ddd;
  text-decoration: none;
  border-bottom: 0.05em dotted #ddd;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a:hover {
  color: #fff;
  border-bottom: 0.05em solid #fff;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a:active {
  top: 0.1em;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info span.comment-info-author {
  margin: 0 0.5em;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info span.comment-info-date {
  margin: 0 0.5em;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info span.comment-info-association {
  margin: 0 0.5em;
  padding: 0 0.5em;
  border: 0.05em solid #eee;
  border-radius: 0.3em;
  color: #eee;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a.comment-info-link {
  margin: 0 0.5em;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a.comment-info-link::before {
  content: "#";
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-content {
  padding: 0.5em 1em;
  background: #fff;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-content pre {
  overflow: auto;
  padding: 0.5em;
  border-radius: 0.3em;
  background: #f8f8f8;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-content pre code {
  background: inherit;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container:hover {
  -webkit-box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
}
div.comment div.comment-results footer.comments-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
div.comment div.comment-results footer.comments-footer a.comment-send {
  padding: 0.3em 1em;
  background: #9f1313;
  border: 0.1em solid #f5c6cb;
}
