div.comment div.comment-results {
  padding: 1rem;
}
div.comment div.comment-results div.comment-fail {
  text-align: center;
  color: #444;
}
div.comment div.comment-results header.comments-header {
  padding: 0.5em;
  text-align: center;
  color: #444;
}
div.comment div.comment-results main.comments-main div.comment {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: start;
  margin: 0.5rem 0;
}
div.comment div.comment-results main.comments-main div.comment div.comment-avatar-container {
  flex: 1 1 auto;
  width: 10%;
}
div.comment div.comment-results main.comments-main div.comment div.comment-avatar-container img.comment-avatar {
  width: 70%;
  border: 0.1rem solid #fff;
  border-radius: 50%;
  transition: box-shadow 0.3s ease-in-out, transform 1s ease-in-out;
}
div.comment div.comment-results main.comments-main div.comment div.comment-avatar-container img.comment-avatar:hover {
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
  transform: rotateY(720deg);
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container {
  flex: 9 9 auto;
  width: 90%;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 0.3em;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info {
  padding: 0.5em;
  color: #eee;
  background: #33363b;
  overflow: auto;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a {
  position: relative;
  color: #ddd;
  text-decoration: none;
  border-bottom: 0.05em dotted #ddd;
  transition: 0.3s ease-in-out;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a:hover {
  color: #fff;
  border-bottom: 0.05em solid #fff;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a:active {
  top: 0.1em;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a.comment-info-author {
  margin: 0 0.5em;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info span.comment-info-date {
  margin: 0 0.5em;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info span.comment-info-association {
  margin: 0 0.5em;
  padding: 0 0.5em;
  border: 0.05em solid #eee;
  border-radius: 0.3em;
  color: #eee;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a.comment-info-link {
  margin: 0 0.5em;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a.comment-info-link::before {
  content: "#";
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-content {
  padding: 0.5em 1em;
  background: #fff;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-content pre {
  overflow: auto;
  padding: 0.5em;
  border-radius: 0.3em;
  background: #f8f8f8;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-content pre code {
  background: inherit;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container:hover {
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
}
div.comment div.comment-results footer.comments-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.comment div.comment-results footer.comments-footer a.comment-send {
  padding: 0.3em 1em;
  background: #9f1313;
  border: 0.1em solid #f5c6cb;
}
