footer.footer {
  background: #33363b;
  color: #eee;
  margin-top: 1.5rem;
}
footer.footer div.footer-container {
  width: auto;
  word-wrap: break-word;
  line-height: 2;
  padding: 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: stretch;
  -moz-box-pack: stretch;
  -o-box-pack: stretch;
  -ms-flex-pack: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
footer.footer div.footer-container div.footer-left {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: left;
  width: 50%;
}
footer.footer div.footer-container div.footer-right {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: right;
  width: 50%;
}
footer.footer div.footer-container div.footer-right div.custom-info {
  width: 100%;
  word-wrap: break-word;
}
footer.footer a {
  position: relative;
  color: #ddd;
  text-decoration: none;
  border-bottom: 0.05em dotted #ddd;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
footer.footer a:hover {
  color: #fff;
  border-bottom: 0.05em solid #fff;
}
footer.footer a:active {
  top: 0.1em;
}
footer.footer div.back-to-top {
  display: block;
  text-align: center;
}
footer.footer div.back-to-top button {
  border: none;
  outline: 0;
  background: #ccc;
  color: #666;
  display: inline-block;
  margin: 0 auto;
  padding: 0 0.75em;
  cursor: pointer;
  border-radius: 0 0 0.3em 0.3em;
  font-size: 2rem;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
footer.footer div.back-to-top button:hover {
  color: #36e;
}
@media (max-width: 40rem) {
  footer.footer div.footer-container {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -o-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -o-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  footer.footer div.footer-container div.footer-left {
    text-align: center;
    width: auto;
  }
  footer.footer div.footer-container div.footer-right {
    text-align: center;
    width: auto;
  }
}
