footer.footer {
  background: #33363b;
  color: #eee;
  margin-top: 1.5rem;
}
footer.footer div.footer-container {
  width: auto;
  word-wrap: break-word;
  line-height: 2;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-end;
  flex-wrap: nowrap;
}
footer.footer div.footer-container div.footer-left {
  flex: 1 1 auto;
  text-align: left;
  width: 50%;
}
footer.footer div.footer-container div.footer-right {
  flex: 1 1 auto;
  text-align: right;
  width: 50%;
}
footer.footer div.footer-container div.footer-right div.custom-info {
  width: 100%;
  word-wrap: break-word;
}
footer.footer a {
  position: relative;
  color: #ddd;
  text-decoration: none;
  border-bottom: 0.05em dotted #ddd;
  transition: 0.3s ease-in-out;
}
footer.footer a:hover {
  color: #fff;
  border-bottom: 0.05em solid #fff;
}
footer.footer a:active {
  top: 0.1em;
}
footer.footer div.back-to-top {
  display: block;
  text-align: center;
}
footer.footer div.back-to-top button {
  border: none;
  outline: 0;
  background: #ccc;
  color: #666;
  display: inline-block;
  margin: 0 auto;
  padding: 0 0.75em;
  cursor: pointer;
  border-radius: 0 0 0.3em 0.3em;
  font-size: 2rem;
  transition: 0.3s ease-in-out;
}
footer.footer div.back-to-top button:hover {
  color: #36e;
  border: none;
}
html[data-theme="dark"] footer.footer div.back-to-top button {
  background: #252525;
  color: #ddd;
}
html[data-theme="dark"] footer.footer div.back-to-top button:hover {
  color: #fff;
}
@media (max-width: 40rem) {
  footer.footer div.footer-container {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  footer.footer div.footer-container div.footer-left {
    text-align: center;
    width: auto;
  }
  footer.footer div.footer-container div.footer-right {
    text-align: center;
    width: auto;
  }
}
