header.header {
  flex: 0 0 auto;
  padding-bottom: 3em;
  margin-bottom: 0;
  background: #33363b;
  color: #eee;
}
div.header-container {
  display: flex;
  justify-content: stretch;
  align-items: flex-end;
  padding: 1em;
}
div.header-title {
  text-align: left;
  width: 50%;
  word-wrap: break-word;
  flex: 1 1 auto;
  color: #eee;
}
div.header-title a {
  position: static;
  color: #eee;
  text-decoration: none;
  border-bottom: none;
}
div.header-title a:hover {
  color: #eee;
  border-bottom: none;
}
div.title {
  font: bold 2rem Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif;
  margin: 0 0 0.5em 0;
}
div.subtitle {
  font: italic 1.5rem Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif;
  margin: 0.5em 0 0 0;
}
div.logo {
  text-align: right;
  width: 50%;
  flex: 1 1 auto;
}
div.logo img {
  display: inline-block;
  max-height: 5em;
  width: auto;
}
@media (max-width: 40em) {
  div.header-container {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  div.header-title,
  div.logo {
    text-align: center;
    width: auto;
  }
}
