header.header {
  padding-bottom: 3rem;
  margin-bottom: 0;
  background: #33363b;
  color: #eee;
}
header.header div.header-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 1rem;
}
header.header div.header-container div.header-title {
  text-align: left;
  width: 50%;
  word-wrap: break-word;
  flex: 1 1 auto;
  color: #eee;
}
header.header div.header-container div.header-title a {
  color: #eee;
  text-decoration: none;
  border-bottom: none;
}
header.header div.header-container div.header-title a:hover {
  color: #eee;
  border-bottom: none;
}
header.header div.header-container div.header-title a:active {
  top: 0;
}
header.header div.header-container div.header-title h1.title {
  font: bold 2rem Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
  margin: 0 0 0.5rem 0;
}
header.header div.header-container div.header-title h2.subtitle {
  font: italic 1.5rem Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
  margin: 0.5rem 0 0 0;
}
header.header div.header-container div.logo {
  text-align: right;
  width: 50%;
  flex: 1 1 auto;
}
header.header div.header-container div.logo img {
  display: inline-block;
  max-height: 5rem;
  width: auto;
}
@media (max-width: 40rem) {
  header.header div.header-container {
    flex-direction: column-reverse;
  }
  header.header div.header-container div.header-title {
    text-align: center;
    width: auto;
  }
  header.header div.header-container div.logo {
    text-align: center;
    width: auto;
  }
}
