header.header {
  padding-bottom: 3rem;
  margin-bottom: 0;
  background: #33363b;
  color: #eee;
}
header.header div.header-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 1rem;
}
header.header div.header-container div.header-title {
  text-align: left;
  width: 50%;
  word-wrap: break-word;
  flex: 1 1 auto;
  color: #eee;
}
header.header div.header-container div.header-title a {
  color: #eee;
  text-decoration: none;
  border-bottom: none;
}
header.header div.header-container div.header-title a:hover {
  color: #eee;
  border-bottom: none;
}
header.header div.header-container div.header-title a:active {
  top: 0;
}
header.header div.header-container div.header-title h1.title {
  font: bold 2rem Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
  margin: 0 0 0.5rem 0;
}
header.header div.header-container div.header-title h2.subtitle {
  font: italic 1.5rem Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
  margin: 0.5rem 0 0 0;
}
header.header div.header-container div.logo {
  text-align: right;
  width: 50%;
  flex: 1 1 auto;
}
header.header div.header-container div.logo img {
  display: inline-block;
  max-height: 5rem;
  width: auto;
}
@media (max-width: 40rem) {
  header.header div.header-container {
    flex-direction: column-reverse;
  }
  header.header div.header-container div.header-title {
    text-align: center;
    width: auto;
  }
  header.header div.header-container div.logo {
    text-align: center;
    width: auto;
  }
}
nav.nav {
  position: relative;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  background: #33363b;
  box-shadow: 0 -0.5rem 1rem 0.5rem rgba(0,0,0,0.19);
  border-radius: 0.3em 0.3em 0 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
}
nav.nav button.nav-toggle {
  display: none;
  text-align: center;
  border: none;
  outline: 0;
  background: inherit;
  font-size: 2rem;
  cursor: pointer;
  color: #ddd;
  width: 100%;
  transition: 0.3s ease-in-out;
}
nav.nav button.nav-toggle:hover {
  color: #fff;
  background: #252525;
  border: none;
}
nav.nav ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  overflow: auto;
  white-space: nowrap;
}
nav.nav ul li {
  position: relative;
  text-align: center;
  display: inline-block;
  margin: 0 0.1em;
}
nav.nav ul li a {
  position: relative;
  display: block;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0.5em;
  color: #ddd;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  border-bottom: none;
}
nav.nav ul li a:hover {
  color: #fff;
  background: #252525;
  border-bottom: none;
}
nav.nav ul li a:active {
  top: 0;
}
nav.nav ul li a.current {
  color: #fff;
  background: #222;
}
nav.nav button.theme-toggle {
  display: block;
  flex: 0 0 5%;
  text-align: center;
  border: none;
  outline: 0;
  background: inherit;
  font-size: 2rem;
  cursor: pointer;
  color: #ddd;
  width: 100%;
  transition: 0.3s ease-in-out;
}
nav.nav button.theme-toggle:hover {
  color: #fff;
  background: #252525;
  border: none;
}
@media (max-width: 40rem) {
  nav.nav {
    flex-direction: column;
    padding: 0;
  }
  nav.nav button.nav-toggle {
    display: block;
    flex: auto;
  }
  nav.nav ul {
    display: none;
    white-space: normal;
  }
  nav.nav ul li {
    display: block;
    text-align: center;
    margin: 0.1em 0;
  }
  nav.nav button.theme-toggle {
    display: block;
    flex: auto;
  }
}
main.main {
  font: 16px Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
  margin-top: -3rem;
}
main.main div.main-container {
  width: auto;
  transition: 0.3s ease-in-out;
  background: #eee;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 1rem 0.5rem rgba(0,0,0,0.19);
  border-radius: 0 0 0.3em 0.3em;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 0;
}
main.main div.main-container div.content {
  flex: 3 3 auto;
  width: 75%;
}
html[data-theme="dark"] main.main div.main-container {
  background: #26272b;
}
@media (max-width: 60rem) {
  main.main div.main-container {
    flex-direction: column;
  }
  main.main div.main-container div.content {
    width: 100%;
  }
}
footer.footer {
  background: #33363b;
  color: #eee;
  margin-top: 1.5rem;
}
footer.footer div.footer-container {
  width: auto;
  word-wrap: break-word;
  line-height: 2;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-end;
  flex-wrap: nowrap;
}
footer.footer div.footer-container div.footer-left {
  flex: 1 1 auto;
  text-align: left;
  width: 50%;
}
footer.footer div.footer-container div.footer-right {
  flex: 1 1 auto;
  text-align: right;
  width: 50%;
}
footer.footer div.footer-container div.footer-right div.custom-info {
  width: 100%;
  word-wrap: break-word;
}
footer.footer a {
  position: relative;
  color: #ddd;
  text-decoration: none;
  border-bottom: 0.05em dotted #ddd;
  transition: 0.3s ease-in-out;
}
footer.footer a:hover {
  color: #fff;
  border-bottom: 0.05em solid #fff;
}
footer.footer a:active {
  top: 0.1em;
}
footer.footer div.back-to-top {
  display: block;
  text-align: center;
}
footer.footer div.back-to-top button {
  border: none;
  outline: 0;
  background: #ccc;
  color: #666;
  display: inline-block;
  margin: 0 auto;
  padding: 0 0.75em;
  cursor: pointer;
  border-radius: 0 0 0.3em 0.3em;
  font-size: 2rem;
  transition: 0.3s ease-in-out;
}
footer.footer div.back-to-top button:hover {
  color: #36e;
  border: none;
}
html[data-theme="dark"] footer.footer div.back-to-top button {
  background: #252525;
  color: #ddd;
}
html[data-theme="dark"] footer.footer div.back-to-top button:hover {
  color: #fff;
}
@media (max-width: 40rem) {
  footer.footer div.footer-container {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  footer.footer div.footer-container div.footer-left {
    text-align: center;
    width: auto;
  }
  footer.footer div.footer-container div.footer-right {
    text-align: center;
    width: auto;
  }
}
html,
body,
.container {
  height: 100%;
}
html ::selection {
  color: #222;
  background: #cbeafb;
}
html ::-moz-selection {
  color: #222;
  background: #cbeafb;
}
html ::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background: transparent;
}
html ::-webkit-scrollbar-track {
  background: 0 0;
}
html ::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 0.25em;
}
html ::-webkit-scrollbar-thumb:hover {
  background: #666;
}
html ::-webkit-scrollbar-corner {
  background: #666;
}
html ::-webkit-scrollbar-resizer {
  background: #999;
}
body {
  transition: 0.3s ease-in-out;
  color: #26272b;
  background: #ccc;
  font: 16px Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
header,
footer {
  flex: none;
}
div.container {
  padding: 0;
  width: 75%;
  margin: 0 auto;
}
div.center {
  text-align: center;
}
ol,
ul {
  padding-left: 2em;
}
a {
  position: relative;
  color: #666;
  text-decoration: none;
  border-bottom: 0.05em dotted #666;
  transition: 0.3s ease-in-out;
}
a:hover {
  color: #36e;
  border-bottom: 0.05em solid #36e;
}
a:active {
  top: 0.1em;
}
img {
  max-width: 100%;
}
a.gallery-item,
a.img-link {
  border-bottom: none;
}
a.gallery-item img,
a.img-link img {
  transition: 0.3s ease-in-out;
  border: 0.15em solid #666;
}
a.gallery-item:hover,
a.img-link:hover {
  border-bottom: none;
}
a.gallery-item:hover img,
a.img-link:hover img {
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
}
a#top,
a#more {
  border: none;
  margin: 0;
  padding: 0;
}
a#top:hover,
a#more:hover {
  border: none;
}
a#top:active,
a#more:active {
  top: 0;
}
span.caption {
  transition: 0.3s ease-in-out;
  color: #666;
  display: block;
  text-align: center;
  margin: 0 0 1em 0;
}
a.button,
button.button {
  position: relative;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  border-radius: 0.3em;
  border-bottom: none;
  box-sizing: border-box;
  color: #fff;
  background: #999;
  border: 0.1em solid #ddd;
}
a.button:hover,
button.button:hover {
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
  border-bottom: none;
}
a.button:active,
button.button:active {
  top: 0.1em;
}
hr {
  height: 0.3em;
  border: none;
  margin: 1.5em 0;
  width: 100%;
  box-sizing: content-box;
  background: repeating-linear-gradient(-45deg, #ccc, #ccc 0.25rem, transparent 0.25rem, transparent 0.5rem);
}
article table {
  margin: 1em auto;
  width: 90%;
  border-spacing: 0;
  border-collapse: collapse;
}
article table thead tr {
  transition: 0.3s ease-in-out;
  background: #fff;
}
article table thead tr th {
  padding: 0.4em 0.7em;
  border: 0.1rem solid #999;
}
article table tbody tr {
  transition: 0.3s ease-in-out;
  background: #eee;
}
article table tbody tr td {
  padding: 0.4em 0.7em;
  border: 0.1rem solid #ddd;
}
article table tbody tr td:nth-child(2n) {
  transition: 0.3s ease-in-out;
  background: #fff;
}
article table tbody tr:nth-child(2n) {
  transition: 0.3s ease-in-out;
  background: #fff;
}
article table tbody tr:nth-child(2n) td {
  padding: 0.4em 0.7em;
  border: 0.1rem solid #ddd;
}
article table tbody tr:nth-child(2n) td:nth-child(2n) {
  transition: 0.3s ease-in-out;
  background: #eee;
}
code {
  transition: 0.3s ease-in-out;
  margin: 0.05em 0.05em;
  color: #fc6423;
  padding: 0.125em 0.25em;
  overflow: auto;
  word-wrap: break-word;
  border-radius: 0.3em;
  font-family: Monaco, Menlo, "Roboto Mono", Consolas, monospace, Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
  background: #f8f8f8;
  -webkit-font-feature-settings: "liga" 0; /* No variation */
  -moz-font-feature-settings: "liga=0"; /* Firefox 4.0 to 14.0 */
  -moz-font-feature-settings: "liga" 0; /* Firefox 15.0 onwards */
  -moz-font-feature-settings: "liga" 0; /* Firefox 15.0 onwards explicitly set feature values */
  font-feature-settings: "liga" 0; /* No variation */
}
pre code {
  margin: 0;
  padding: 0;
}
div.code-titlebar {
  display: flex;
  flex-direction: row;
  flex-warp: nowarp;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3em 0.3em 0 0;
  color: #fff;
  background: #33363b;
  padding: 0.25em 0.5em;
}
div.code-titlebar div.titlebar-left {
  flex: 0 0 auto;
  text-align: left;
  padding: 0 0.25em;
}
div.code-titlebar div.titlebar-center {
  flex: 1 1 auto;
  text-align: center;
  padding: 0 0.25em;
}
div.code-titlebar div.titlebar-right {
  flex: 0 0 auto;
  text-align: right;
  padding: 0 0.25em;
}
div.code-titlebar button.copy {
  background: inherit;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0.25em;
  box-sizing: border-box;
  color: #ddd;
  transition: 0.3s ease-in-out;
}
div.code-titlebar button.copy:hover {
  color: #fff;
  border: none;
}
div.code-titlebar button.copy.copied {
  color: #fff;
}
div.code-titlebar button.button-dot {
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0.25em;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  transition: 0.3s ease-in-out;
}
div.code-titlebar button.button-dot:hover {
  opacity: 0.7;
  border: none;
}
div.code-titlebar button.dot-close {
  background: #ff2a2a;
}
div.code-titlebar button.dot-maximize {
  background: #37cf38;
}
div.code-titlebar button.dot-minimize {
  background: #fdbc40;
}
figure.highlight {
  display: flex;
  flex-direction: row;
  flex-warp: nowarp;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  border-left: 0.1em solid #33363b;
  border-bottom: 0.1em solid #33363b;
  border-right: 0.1em solid #33363b;
  padding: 0.5em;
  margin: 0;
  -webkit-font-feature-settings: "liga" 0; /* No variation */
  -moz-font-feature-settings: "liga=0"; /* Firefox 4.0 to 14.0 */
  -moz-font-feature-settings: "liga" 0; /* Firefox 15.0 onwards */
  -moz-font-feature-settings: "liga" 0; /* Firefox 15.0 onwards explicitly set feature values */
  font-feature-settings: "liga" 0; /* No variation */
}
figure.highlight pre {
  font-family: Monaco, Menlo, "Roboto Mono", Consolas, monospace, Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
figure.highlight pre.gutter {
  flex: 0 0 auto;
  text-align: right;
  padding: 0 0.5em;
  transition: 0.3s ease-in-out;
  border-right: 0.1em dotted #666;
}
figure.highlight pre.code {
  position: relative;
  flex: 1 1 auto;
  text-align: left;
  padding: 0 0.5em;
}
figure.highlight pre code {
  color: inherit;
  background: inherit;
}
blockquote {
  margin: 1em 0;
  padding: 0 1em;
  transition: 0.3s ease-in-out;
  border-left: 0.25em solid #999;
  color: #666;
}
blockquote p {
  white-space: pre-wrap;
  transition: 0.3s ease-in-out;
  color: #666;
  padding: 0;
  margin: 0;
}
blockquote.center-quote,
blockquote.centerquote {
  margin: 1em 0;
  padding: 0.5em 15%;
  border-left: none;
  border-top: 0.2em solid #999;
  border-bottom: 0.2em solid #999;
  text-align: center;
  transition: 0.3s ease-in-out;
  color: #666;
}
blockquote.center-quote p,
blockquote.centerquote p,
blockquote.center-quote div,
blockquote.centerquote div {
  text-align: center;
}
div.alert-red,
div.alert-green,
div.alert-blue {
  text-align: center;
  margin: 1em 0;
  padding: 0.5em 15%;
  transition: 0.3s ease-in-out;
  border-radius: 0.3em;
}
div.alert-red {
  color: #721c24;
  border: 0.1em solid #f5c6cb;
  background-color: #f8d7da;
}
div.alert-green {
  color: #155724;
  border: 0.1em solid #c3e6cb;
  background-color: #d4edda;
}
div.alert-blue {
  color: #13229f;
  border: 0.1em solid #b8daff;
  background-color: #cce5ff;
}
article.card {
  display: block;
  transition: 0.3s ease-in-out;
  background: #fff;
  box-sizing: border-box;
  border-radius: 0.3em;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  transition: 0.3s ease-in-out;
}
article.card:hover {
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
}
svg.svg-inline--fa {
  margin: 0 0.2em;
}
html[data-theme="dark"] ::-webkit-scrollbar {
  background: transparent;
}
html[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background: #ddd;
}
html[data-theme="dark"] ::-webkit-scrollbar-thumb:hover {
  background: #eee;
}
html[data-theme="dark"] ::-webkit-scrollbar-corner {
  background: #666;
}
html[data-theme="dark"] ::-webkit-scrollbar-resizer {
  background: #999;
}
html[data-theme="dark"] body {
  color: #eee;
  background: #252525;
}
html[data-theme="dark"] a {
  color: #ddd;
  border-bottom: 0.05em dotted #ddd;
}
html[data-theme="dark"] a:hover {
  color: #fff;
  border-bottom: 0.05em solid #fff;
}
html[data-theme="dark"] a.gallery-item,
html[data-theme="dark"] a.img-link {
  border-bottom: none;
}
html[data-theme="dark"] a.gallery-item img,
html[data-theme="dark"] a.img-link img {
  border: 0.15em solid #999;
}
html[data-theme="dark"] a.gallery-item:hover,
html[data-theme="dark"] a.img-link:hover {
  border-bottom: none;
}
html[data-theme="dark"] span.caption {
  color: #999;
}
html[data-theme="dark"] a.button,
html[data-theme="dark"] button.button {
  opacity: 0.9;
}
html[data-theme="dark"] article table thead tr {
  background: #26272b;
}
html[data-theme="dark"] article table thead tr th {
  border: 0.1rem solid $color-dark-table-head-border;
}
html[data-theme="dark"] article table tbody tr {
  background: #33363b;
}
html[data-theme="dark"] article table tbody tr td {
  border: 0.1rem solid $color-dark-table-border;
}
html[data-theme="dark"] article table tbody tr td:nth-child(2n) {
  background: #26272b;
}
html[data-theme="dark"] article table tbody tr:nth-child(2n) {
  background: #26272b;
}
html[data-theme="dark"] article table tbody tr:nth-child(2n) td {
  border: 0.1rem solid $color-dark-table-border;
}
html[data-theme="dark"] article table tbody tr:nth-child(2n) td:nth-child(2n) {
  background: #33363b;
}
html[data-theme="dark"] code {
  opacity: 0.9;
}
html[data-theme="dark"] figure.highlight pre.gutter {
  border-right: 0.1em dotted #999;
}
html[data-theme="dark"] blockquote {
  border-left: 0.25em solid #999;
  color: #999;
}
html[data-theme="dark"] blockquote p {
  color: #999;
}
html[data-theme="dark"] blockquote.center-quote,
html[data-theme="dark"] blockquote.centerquote {
  border-top: 0.2em solid #999;
  border-bottom: 0.2em solid #999;
  color: #999;
}
html[data-theme="dark"] div.alert-red,
html[data-theme="dark"] div.alert-green,
html[data-theme="dark"] div.alert-blue {
  opacity: 0.9;
}
html[data-theme="dark"] article.card {
  background: #3d444c;
}
@media (max-width: 80rem) {
  div.container {
    width: 100%;
  }
}
