header.header {
  flex: 0 0 auto;
  padding-bottom: 3em;
  margin-bottom: 0;
  background: #33363b;
  color: #eee;
}
header.header div.header-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 1em;
}
header.header div.header-container div.header-title {
  text-align: left;
  width: 50%;
  word-wrap: break-word;
  flex: 1 1 auto;
  color: #eee;
}
header.header div.header-container div.header-title a {
  color: #eee;
  text-decoration: none;
  border-bottom: none;
}
header.header div.header-container div.header-title a:hover {
  color: #eee;
  border-bottom: none;
}
header.header div.header-container div.header-title a:active {
  top: 0;
}
header.header div.header-container div.header-title h1.title {
  font: bold 2rem Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
  margin: 0 0 0.5em 0;
}
header.header div.header-container div.header-title h2.subtitle {
  font: italic 1.5rem Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
  margin: 0.5em 0 0 0;
}
header.header div.header-container div.logo {
  text-align: right;
  width: 50%;
  flex: 1 1 auto;
}
header.header div.header-container div.logo img {
  display: inline-block;
  max-height: 5em;
  width: auto;
}
@media (max-width: 40em) {
  header.header div.header-container {
    flex-direction: column-reverse;
  }
  header.header div.header-container div.header-title {
    text-align: center;
    width: auto;
  }
  header.header div.header-container div.logo {
    text-align: center;
    width: auto;
  }
}
nav.nav {
  position: relative;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  background: #33363b;
  box-shadow: 0 -0.5em 1em 0.5em rgba(0,0,0,0.19);
  border-radius: 0.3em 0.3em 0 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
}
nav.nav button.nav-toggle {
  display: none;
  text-align: center;
  border: none;
  outline: 0;
  background: inherit;
  font-size: 2rem;
  cursor: pointer;
  color: #ddd;
  width: 100%;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
nav.nav button.nav-toggle:hover {
  color: #fff;
  background: #252525;
  border: none;
}
nav.nav ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
  scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-background);
  white-space: nowrap;
}
nav.nav ul li {
  position: relative;
  text-align: center;
  display: inline-block;
  margin: 0 0.1em;
}
nav.nav ul li a {
  position: relative;
  display: block;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0.5em;
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  border-bottom: none;
}
nav.nav ul li a:hover {
  color: #fff;
  background: #252525;
  border-bottom: none;
}
nav.nav ul li a:active {
  top: 0;
}
nav.nav ul li a.current {
  color: #fff;
  background: #222;
}
nav.nav button.theme-toggle {
  display: block;
  flex: 0 0 auto;
  width: 5%;
  text-align: center;
  border: none;
  outline: 0;
  background: inherit;
  font-size: 2rem;
  cursor: pointer;
  color: #ddd;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
nav.nav button.theme-toggle:hover {
  color: #fff;
  background: #252525;
  border: none;
}
@media (max-width: 40em) {
  nav.nav {
    flex-direction: column;
    padding: 0;
  }
  nav.nav button.nav-toggle {
    display: block;
    flex: auto;
  }
  nav.nav ul {
    display: none;
    white-space: normal;
  }
  nav.nav ul li {
    display: block;
    text-align: center;
    margin: 0.1em 0;
  }
  nav.nav button.theme-toggle {
    display: block;
    flex: auto;
    width: 100%;
  }
}
main.main {
  flex: 1 0 auto;
  font: 16px Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
  margin-top: -3em;
  margin-bottom: 1.5em;
}
main.main div.main-container {
  width: auto;
  background: #eee;
  background: var(--color-main-background);
  box-sizing: border-box;
  box-shadow: 0 0.5em 1em 0.5em rgba(0,0,0,0.19);
  border-radius: 0 0 0.3em 0.3em;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 0;
}
main.main div.main-container div.content {
  flex: 3 3 auto;
  width: 75%;
}
@media (max-width: 60em) {
  main.main div.main-container {
    flex-direction: column;
  }
  main.main div.main-container div.content {
    width: 100%;
  }
}
footer.footer {
  flex: 0 0 auto;
  background: #33363b;
  color: #eee;
}
footer.footer div.footer-container {
  width: auto;
  word-wrap: break-word;
  line-height: 2;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
}
footer.footer div.footer-container div.footer-left {
  flex: 1 1 auto;
  text-align: left;
  width: 50%;
}
footer.footer div.footer-container div.footer-right {
  flex: 1 1 auto;
  text-align: right;
  width: 50%;
}
footer.footer div.footer-container div.footer-right div.custom-info {
  width: 100%;
  word-wrap: break-word;
}
footer.footer a {
  position: relative;
  color: #ddd;
  text-decoration: none;
  border-bottom: 0.05em dotted #ddd;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}
footer.footer a:hover {
  color: #fff;
  border-bottom: 0.05em solid #fff;
}
footer.footer a:active {
  top: 0.1em;
}
footer.footer div.back-to-top {
  display: block;
  text-align: center;
}
footer.footer div.back-to-top button {
  border: none;
  outline: 0;
  transition: color 0.3s ease-in-out;
  color: #666;
  color: var(--color-link-font);
  background: #ccc;
  background: var(--color-background);
  display: inline-block;
  margin: 0 auto;
  padding: 0 0.75em;
  cursor: pointer;
  border-radius: 0 0 0.3em 0.3em;
  font-size: 2rem;
}
footer.footer div.back-to-top button:hover {
  color: #36e;
  color: var(--color-link-hover-font);
  border: none;
}
@media (max-width: 40em) {
  footer.footer div.footer-container {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  footer.footer div.footer-container div.footer-left {
    text-align: center;
    width: auto;
  }
  footer.footer div.footer-container div.footer-right {
    text-align: center;
    width: auto;
  }
}
:root {
  --color-scrollbar: #999;
  --color-scrollbar-background: transparent;
  --color-scrollbar-hover: #666;
  --color-scrollbar-corner: #666;
  --color-scrollbar-resizer: #999;
  --color-font: #26272b;
  --color-background: #ccc;
  --color-link-font: #666;
  --color-link-hover-font: #36e;
  --color-quote-font: #666;
  --color-table-head-background: #fff;
  --color-table-head-border: #999;
  --color-table-odd-row-background: #eee;
  --color-table-border: #ddd;
  --color-table-even-row-background: #fff;
  --color-card-background: #fff;
  --color-hr-sidebar-background: #fff;
  --color-comment-sk-wave-background: #666;
  --color-comment-font: #666;
  --color-comment-content-background: #fff;
  --color-author-name-font: #26272b;
  --color-author-description-font: #444;
  --color-main-background: #eee;
  --color-reward-font: #666;
  --color-sidebar-background: #ddd;
  --url-sidebar-background: url("/images/background.webp");
}
:root[data-theme="dark"] {
  --color-scrollbar: #ddd;
  --color-scrollbar-background: transparent;
  --color-scrollbar-hover: #eee;
  --color-scrollbar-corner: #eee;
  --color-scrollbar-resizer: #ddd;
  --color-font: #eee;
  --color-background: #252525;
  --color-link-font: #ddd;
  --color-link-hover-font: #fff;
  --color-quote-font: #999;
  --color-table-head-background: #26272b;
  --color-table-head-border: #ddd;
  --color-table-odd-row-background: #33363b;
  --color-table-border: #999;
  --color-table-even-row-background: #26272b;
  --color-card-background: #3d444c;
  --color-hr-sidebar-background: #ccc;
  --color-comment-sk-wave-background: #ddd;
  --color-comment-font: #ddd;
  --color-comment-content-background: #3d444c;
  --color-author-name-font: #eee;
  --color-author-description-font: #ddd;
  --color-main-background: #26272b;
  --color-reward-font: #ddd;
  --color-sidebar-background: #252525;
  --url-sidebar-background: url("/images/background-dark.webp");
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
  scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-background);
}
::selection,
::-moz-selection {
  color: #222;
  background: #cbeafb;
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background: var(--color-scrollbar-background);
}
::-webkit-scrollbar-track {
  background: 0 0;
}
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 0.25em;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-hover);
}
::-webkit-scrollbar-corner {
  background: var(--color-scrollbar-corner);
}
::-webkit-scrollbar-resizer {
  background: var(--color-scrollbar-resizer);
}
body {
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  font: 16px Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
  color: #26272b;
  color: var(--color-font);
  background: #ccc;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
}
div.container {
  padding: 0;
  width: 75%;
  height: 100%;
  margin: 0 auto;
}
div.center {
  text-align: center;
}
ol,
ul {
  padding-left: 2em;
}
a {
  position: relative;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
  color: #666;
  color: var(--color-link-font);
  text-decoration: none;
  border-bottom: 0.05em dotted #666;
  border-bottom: 0.05em dotted var(--color-link-font);
}
a:hover {
  color: #36e;
  color: var(--color-link-hover-font);
  border-bottom: 0.05em solid #36e;
  border-bottom: 0.05em solid var(--color-link-hover-font);
}
a:active {
  top: 0.1em;
}
img {
  max-width: 100%;
}
a.gallery-item,
a.img-link {
  border-bottom: none;
}
a.gallery-item img,
a.img-link img {
  border: 0.15em solid #666;
  border: 0.15em solid var(--color-quote-font);
}
a.gallery-item:hover,
a.img-link:hover {
  border-bottom: none;
}
a.gallery-item:hover img,
a.img-link:hover img {
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
}
a#top,
a#more {
  border: none;
  margin: 0;
  padding: 0;
}
a#top:hover,
a#more:hover {
  border: none;
}
a#top:active,
a#more:active {
  top: 0;
}
span.caption {
  color: #666;
  color: var(--color-quote-font);
  display: block;
  text-align: center;
  margin: 0 0 1em 0;
}
a.button,
button.button {
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  text-decoration: none;
  border-radius: 0.3em;
  border-bottom: none;
  box-sizing: border-box;
  color: #fff;
  background: #999;
  border: 0.1em solid #ddd;
}
a.button:hover,
button.button:hover {
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
  border-bottom: none;
}
a.button:active,
button.button:active {
  top: 0.1em;
}
hr {
  height: 0.3em;
  border: none;
  margin: 1.5em 0;
  width: 100%;
  box-sizing: content-box;
  background: repeating-linear-gradient(-45deg, #ccc, #ccc 0.25em, transparent 0.25em, transparent 0.5em);
}
article table {
  margin: 1em auto;
  width: 90%;
  border-spacing: 0;
  border-collapse: collapse;
}
article table thead tr {
  background: #fff;
  background: var(--color-table-head-background);
}
article table thead tr th {
  padding: 0.4em 0.7em;
  border: 0.1em solid #999;
  border: 0.1em solid var(--color-table-head-border);
}
article table tbody tr {
  background: #eee;
  background: var(--color-table-odd-row-background);
}
article table tbody tr td {
  padding: 0.4em 0.7em;
  border: 0.1em solid #ddd;
  border: 0.1em solid var(--color-table-border);
}
article table tbody tr td:nth-child(2n) {
  background: #fff;
  background: var(--color-table-even-row-background);
}
article table tbody tr:nth-child(2n) {
  background: #fff;
  background: var(--color-table-even-row-background);
}
article table tbody tr:nth-child(2n) td {
  padding: 0.4em 0.7em;
  border: 0.1em solid #ddd;
  border: 0.1em solid var(--color-table-border);
}
article table tbody tr:nth-child(2n) td:nth-child(2n) {
  background: #eee;
  background: var(--color-table-odd-row-background);
}
code {
  margin: 0.05em 0.05em;
  color: #fc6423;
  padding: 0.125em 0.25em;
  overflow: auto;
  word-wrap: break-word;
  border-radius: 0.3em;
  font-family: Monaco, Menlo, "Roboto Mono", Consolas, monospace, Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
  background: #f8f8f8;
  -webkit-font-feature-settings: "liga" 0; /* No variation */
  -moz-font-feature-settings: "liga=0"; /* Firefox 4.0 to 14.0 */
  -moz-font-feature-settings: "liga" 0; /* Firefox 15.0 onwards */
  -moz-font-feature-settings: "liga" 0; /* Firefox 15.0 onwards explicitly set feature values */
  font-feature-settings: "liga" 0; /* No variation */
}
pre code {
  margin: 0;
  padding: 0;
}
div.code-titlebar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3em 0.3em 0 0;
  color: #fff;
  background: #33363b;
  padding: 0.25em 0.5em;
}
div.code-titlebar div.titlebar-left {
  flex: 0 0 auto;
  text-align: left;
  padding: 0 0.25em;
}
div.code-titlebar div.titlebar-center {
  flex: 1 1 auto;
  text-align: center;
  padding: 0 0.25em;
}
div.code-titlebar div.titlebar-right {
  flex: 0 0 auto;
  text-align: right;
  padding: 0 0.25em;
}
div.code-titlebar button.copy {
  background: inherit;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0.25em;
  box-sizing: border-box;
  color: #ddd;
  transition: color 0.3s ease-in-out;
}
div.code-titlebar button.copy:hover {
  color: #fff;
  border: none;
}
div.code-titlebar button.copy.copied {
  color: #fff;
}
div.code-titlebar button.button-dot {
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0.25em;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  transition: opacity 0.3s ease-in-out;
}
div.code-titlebar button.button-dot:hover {
  opacity: 0.7;
  border: none;
}
div.code-titlebar button.dot-close {
  background: #ff2a2a;
}
div.code-titlebar button.dot-maximize {
  background: #37cf38;
}
div.code-titlebar button.dot-minimize {
  background: #fdbc40;
}
figure.highlight {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
  scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-background);
  border-left: 0.1em solid #33363b;
  border-bottom: 0.1em solid #33363b;
  border-right: 0.1em solid #33363b;
  padding: 0.5em;
  margin: 0;
  -webkit-font-feature-settings: "liga" 0; /* No variation */
  -moz-font-feature-settings: "liga=0"; /* Firefox 4.0 to 14.0 */
  -moz-font-feature-settings: "liga" 0; /* Firefox 15.0 onwards */
  -moz-font-feature-settings: "liga" 0; /* Firefox 15.0 onwards explicitly set feature values */
  font-feature-settings: "liga" 0; /* No variation */
}
figure.highlight pre {
  font-family: Monaco, Menlo, "Roboto Mono", Consolas, monospace, Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
figure.highlight pre.gutter {
  flex: 0 0 auto;
  text-align: right;
  padding: 0 0.5em;
  border-right: 0.1em dotted #666;
  border-right: 0.1em dotted var(--color-quote-font);
}
figure.highlight pre.code {
  position: relative;
  flex: 1 1 auto;
  text-align: left;
  padding: 0 0.5em;
}
figure.highlight pre code {
  color: inherit;
  background: inherit;
}
blockquote {
  margin: 1em 0;
  padding: 0 1em;
  color: #666;
  color: var(--color-quote-font);
  border-left: 0.25em solid #666;
  border-left: 0.25em solid var(--color-quote-font);
}
blockquote p {
  white-space: pre-wrap;
  padding: 0;
  margin: 0;
}
blockquote.center-quote,
blockquote.centerquote {
  margin: 1em 0;
  padding: 0.5em 15%;
  color: #666;
  color: var(--color-quote-font);
  border-left: none;
  border-top: 0.2em solid #666;
  border-top: 0.2em solid var(--color-quote-font);
  border-bottom: 0.2em solid #666;
  border-bottom: 0.2em solid var(--color-quote-font);
  text-align: center;
}
blockquote.center-quote p,
blockquote.centerquote p,
blockquote.center-quote div,
blockquote.centerquote div {
  text-align: center;
}
div.alert-red,
div.alert-green,
div.alert-blue {
  text-align: center;
  margin: 1em 0;
  padding: 0.5em 15%;
  border-radius: 0.3em;
}
div.alert-red {
  color: #721c24;
  border: 0.1em solid #f5c6cb;
  background-color: #f8d7da;
}
div.alert-green {
  color: #155724;
  border: 0.1em solid #c3e6cb;
  background-color: #d4edda;
}
div.alert-blue {
  color: #13229f;
  border: 0.1em solid #b8daff;
  background-color: #cce5ff;
}
article.card {
  display: block;
  background: #fff;
  background: var(--color-card-background);
  box-sizing: border-box;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  margin: 0.5em;
}
article.card:hover {
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
}
svg.svg-inline--fa {
  margin: 0 0.2em;
}
@media (max-width: 80em) {
  div.container {
    width: 100%;
  }
}
