main.main {
  flex: 1 0 auto;
  font: 16px Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
  margin-top: -3em;
  margin-bottom: 1.5em;
}
div.main-container {
  width: auto;
  background: #eee;
  background: var(--color-main-background);
  box-sizing: border-box;
  box-shadow: 0 0.5em 1em 0.5em rgba(0,0,0,0.19);
  border-radius: 0 0 0.3em 0.3em;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 0;
}
div.content {
  flex: 3 3 auto;
  width: 75%;
}
@media (max-width: 60em) {
  div.main-container {
    flex-direction: column;
  }
  div.content {
    width: 100%;
  }
}
