main.main {
  font: 16px Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
  margin-top: -3rem;
}
main.main div.main-container {
  width: auto;
  background: #eee;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 1rem 0.5rem rgba(0,0,0,0.19);
  border-radius: 0 0 0.3em 0.3em;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 0;
}
main.main div.main-container div.content {
  flex: 3 3 auto;
  width: 75%;
}
@media (max-width: 60rem) {
  main.main div.main-container {
    flex-direction: column;
  }
  main.main div.main-container div.content {
    width: 100%;
  }
}
