nav.nav {
  padding: 0 0.5em;
  background: #33363b;
  box-shadow: 0 -0.5em 1em 0.5em rgba(0,0,0,0.19);
  border-radius: 0.3em 0.3em 0 0;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
nav.nav ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
  scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-background);
  white-space: nowrap;
}
nav.nav ul li {
  text-align: center;
  display: inline-block;
  margin: 0 0.1em;
}
nav.nav ul li a {
  position: static;
  display: block;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0.5em;
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  border-bottom: none;
}
nav.nav ul li a:hover {
  color: #fff;
  background: #252525;
  border-bottom: none;
}
nav.nav ul li a.current {
  color: #fff;
  background: #222;
}
button.nav-toggle,
button.theme-toggle {
  line-height: 1.2;
  flex: 0 0 auto;
  text-align: center;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  background: #33363b;
  font-size: 2rem;
  cursor: pointer;
  color: #ddd;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
button.nav-toggle:hover,
button.theme-toggle:hover {
  color: #fff;
  background: #252525;
}
button.nav-toggle {
  display: none;
  width: 100%;
}
button.theme-toggle {
  display: block;
  width: 5%;
}
@media (max-width: 40em) {
  nav.nav {
    flex-direction: column;
    padding: 0;
  }
  nav.nav ul {
    display: none;
    white-space: normal;
  }
  nav.nav ul li {
    display: block;
    text-align: center;
    margin: 0.1em 0;
  }
  button.nav-toggle,
  button.theme-toggle {
    display: block;
    flex: 1 1 auto;
    width: 100%;
  }
}
