nav.nav {
  position: relative;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  background: #33363b;
  box-shadow: 0 -0.5rem 1rem 0.5rem rgba(0,0,0,0.19);
  border-radius: 0.3em 0.3em 0 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
}
nav.nav button.nav-toggle {
  display: none;
  text-align: center;
  border: none;
  outline: 0;
  background: inherit;
  font-size: 2rem;
  cursor: pointer;
  color: #ddd;
  width: 100%;
  transition: 0.3s ease-in-out;
}
nav.nav button.nav-toggle:hover {
  color: #fff;
  background: #252525;
  border: none;
}
nav.nav ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  overflow: auto;
  white-space: nowrap;
}
nav.nav ul li {
  position: relative;
  text-align: center;
  display: inline-block;
  margin: 0 0.1em;
}
nav.nav ul li a {
  position: relative;
  display: block;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0.5em;
  color: #ddd;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  border-bottom: none;
}
nav.nav ul li a:hover {
  color: #fff;
  background: #252525;
  border-bottom: none;
}
nav.nav ul li a:active {
  top: 0;
}
nav.nav ul li a.current {
  color: #fff;
  background: #222;
}
nav.nav button.theme-toggle {
  display: block;
  flex: 0 0 auto;
  width: 5%;
  text-align: center;
  border: none;
  outline: 0;
  background: inherit;
  font-size: 2rem;
  cursor: pointer;
  color: #ddd;
  transition: 0.3s ease-in-out;
}
nav.nav button.theme-toggle:hover {
  color: #fff;
  background: #252525;
  border: none;
}
@media (max-width: 40rem) {
  nav.nav {
    flex-direction: column;
    padding: 0;
  }
  nav.nav button.nav-toggle {
    display: block;
    flex: auto;
  }
  nav.nav ul {
    display: none;
    white-space: normal;
  }
  nav.nav ul li {
    display: block;
    text-align: center;
    margin: 0.1em 0;
  }
  nav.nav button.theme-toggle {
    display: block;
    flex: auto;
    width: 100%;
  }
}
