div.comment {
  flex: 0 0 auto;
}
div.comment div.comment-results {
  padding: 1rem;
}
div.comment div.comment-results div.sk-wave div.sk-rect {
  background: #666;
}
div.comment div.comment-results div.comment-fail {
  transition: 0.3s ease-in-out;
  text-align: center;
  color: #666;
}
div.comment div.comment-results header.comments-header {
  transition: 0.3s ease-in-out;
  padding: 0.5em;
  text-align: center;
  color: #666;
}
div.comment div.comment-results main.comments-main div.comment {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: start;
  margin: 0.5rem 0;
}
div.comment div.comment-results main.comments-main div.comment div.comment-avatar-container {
  flex: 1 1 auto;
  width: 10%;
}
div.comment div.comment-results main.comments-main div.comment div.comment-avatar-container img.comment-avatar {
  width: 70%;
  border: 0.1rem solid #fff;
  border-radius: 50%;
  transition: box-shadow 0.3s ease-in-out, transform 1s ease-in-out;
}
div.comment div.comment-results main.comments-main div.comment div.comment-avatar-container img.comment-avatar:hover {
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
  transform: rotateY(720deg);
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container {
  flex: 9 9 auto;
  width: 90%;
  overflow: hidden;
  border-radius: 0.3em;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info {
  padding: 0.5em;
  color: #eee;
  background: #33363b;
  overflow: auto;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a {
  position: relative;
  color: #ddd;
  text-decoration: none;
  border-bottom: 0.05em dotted #ddd;
  transition: 0.3s ease-in-out;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a:hover {
  color: #fff;
  border-bottom: 0.05em solid #fff;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a:active {
  top: 0.1em;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a.comment-info-author {
  margin: 0 0.5em;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info span.comment-info-date {
  margin: 0 0.5em;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info span.comment-info-association {
  margin: 0 0.5em;
  padding: 0 0.5em;
  border: 0.05em solid #eee;
  border-radius: 0.3em;
  color: #eee;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a.comment-info-link {
  margin: 0 0.5em;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-info a.comment-info-link::before {
  content: "#";
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-content {
  transition: 0.3s ease-in-out;
  padding: 0.5em 1em;
  background: #fff;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-content pre {
  transition: 0.3s ease-in-out;
  overflow: auto;
  padding: 0.5em;
  border-radius: 0.3em;
  background: #f8f8f8;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-content pre code {
  background: inherit;
}
div.comment div.comment-results main.comments-main div.comment div.comment-body-container:hover {
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
}
div.comment div.comment-results footer.comments-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.comment div.comment-results footer.comments-footer a.comment-send {
  padding: 0.3em 1em;
  background: #9f1313;
  border: 0.1em solid #f5c6cb;
}
html[data-theme="dark"] div.comment div.comment-results div.sk-wave div.sk-rect {
  background: #ddd;
}
html[data-theme="dark"] div.comment div.comment-results div.comment-fail {
  color: #ddd;
}
html[data-theme="dark"] div.comment div.comment-results header.comments-header {
  color: #ddd;
}
html[data-theme="dark"] div.comment div.comment-results main.comments-main div.comment div.comment-body-container div.comment-content {
  background: #3d444c;
}
div.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
}
div.page h1.page-title,
div.page h2.page-title {
  text-align: center;
}
div.page h2.page-counter {
  text-align: center;
}
div.page nav.pagination {
  flex: 0 0 auto;
  margin: 1rem 0;
  padding: 1rem 0;
  display: block;
  text-align: center;
  transition: 0.3s ease-in-out;
  color: #666;
}
div.page nav.pagination a.page-number,
div.page nav.pagination a.extend {
  overflow: hidden;
  font-size: 1.2rem;
  padding: 0.5em;
  margin: 0 0.5em;
  text-decoration: none;
  border-bottom: 0.15em solid #666;
  transition: 0.3s ease-in-out;
}
div.page nav.pagination a.page-number:hover,
div.page nav.pagination a.extend:hover {
  border-bottom: 0.15em solid #36e;
}
div.page nav.pagination a.page-number.current,
div.page nav.pagination a.extend.current {
  color: #36e;
  border-bottom: 0.15em solid #36e;
  border-top: 0.07em solid #36e;
}
div.page nav.pagination span.space {
  margin: 0 0.5em;
  transition: 0.3s ease-in-out;
  color: #666;
}
div.page nav.page-nav {
  margin: 0 1rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}
div.page nav.page-nav div.page-nav-item {
  flex: 1 1 auto;
  font-size: 1.2rem;
}
div.page nav.page-nav div.page-nav-item a {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  border-bottom: none;
}
div.page nav.page-nav div.page-nav-item a span {
  margin: 0.3em;
}
div.page nav.page-nav div.page-nav-item a:active {
  top: 0.1em;
}
div.page nav.page-nav div.page-nav-next {
  width: 45%;
  text-align: left;
}
div.page nav.page-nav div.page-nav-next a {
  justify-content: flex-start;
}
div.page nav.page-nav div.page-nav-prev {
  width: 45%;
  text-align: right;
}
div.page nav.page-nav div.page-nav-prev a {
  justify-content: flex-end;
}
html[data-theme="dark"] div.page nav.pagination {
  color: #ddd;
}
html[data-theme="dark"] div.page nav.pagination a.page-number,
html[data-theme="dark"] div.page nav.pagination a.extend {
  border-bottom: 0.15em solid #ddd;
}
html[data-theme="dark"] div.page nav.pagination a.page-number:hover,
html[data-theme="dark"] div.page nav.pagination a.extend:hover {
  border-bottom: 0.15em solid #fff;
}
html[data-theme="dark"] div.page nav.pagination a.page-number.current,
html[data-theme="dark"] div.page nav.pagination a.extend.current {
  color: #fff;
  border-bottom: 0.15em solid #fff;
  border-top: 0.07em solid #fff;
}
html[data-theme="dark"] div.page nav.pagination span.space {
  color: #ddd;
}
