div.reward {
  margin: 1em;
  text-align: center;
  color: #666;
  color: var(--color-reward-font);
}
button.reward-button {
  cursor: pointer;
  border: none;
  outline: 0;
  padding: 0.5em 0.5em;
  margin: 0.5em 0;
  background: #9f1313;
  border: 0.1em solid #f5c6cb;
}
div.qr {
  text-align: center;
}
div.qr div {
  padding: 0.5em;
  display: inline-block;
  text-align: center;
}
div.qr div img {
  width: 10em;
  margin: 0 auto;
  display: block;
}
header.post-header {
  text-align: center;
}
div.post-title-simple {
  font-size: 2rem;
  font-weight: bold;
}
div.post-title {
  font-size: 2rem;
  margin: 0.67em 0;
  font-weight: bold;
}
div.post-title a.post-title-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  border-bottom: none;
  color: #26272b;
  color: var(--color-font);
}
div.post-title a.post-title-link::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0.1em;
  bottom: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
  background: #26272b;
  background: var(--color-font);
}
div.post-title a.post-title-link:hover::after {
  visibility: visible;
  transform: scaleX(1);
}
div.post-title a.post-title-link:active {
  top: 0.1em;
}
div.meta-block {
  margin: 0.5em;
}
a.header-link,
a.headerlink {
  position: static;
  border-bottom: none;
}
a.header-link:hover,
a.headerlink:hover {
  border-bottom: none;
}
a.header-link::before,
a.headerlink::before {
  content: "#";
  margin-right: 0.3em;
}
a.post-tag {
  line-height: 1.5;
  margin: 0.1em 0.5em;
  display: inline-block;
  background: #9f1313;
  border: 0.1em solid #f5c6cb;
  padding: 0.15em;
}
a.post-tag:nth-child(2n) {
  background: #237f23;
  border: 0.1em solid #c3e6cb;
}
a.post-tag:nth-child(3n) {
  background: #2356af;
  border: 0.1em solid #b8daff;
}
footer.post-footer {
  text-align: center;
}
div.tags-cloud {
  text-align: center;
}
