div.reward {
  margin: 1rem auto;
  width: 90%;
  text-align: center;
  transition: 0.3s ease-in-out;
  color: #444;
}
div.reward div.qr {
  text-align: center;
}
div.reward div.qr div {
  padding: 0.5em;
  display: inline-block;
}
div.reward div.qr div img {
  width: 10rem;
  margin: 0 auto;
  display: block;
}
div.reward div.qr div span {
  display: block;
}
div.reward button.button {
  cursor: pointer;
  border: none;
  outline: 0;
  padding: 0.5em 0.5em;
  margin: 0.5em 0;
  background: #9f1313;
  border: 0.1em solid #f5c6cb;
}
html[data-theme="dark"] div.reward {
  color: #ddd;
}
article.post header.post-header {
  text-align: center;
}
article.post header.post-header h1.post-title-simple {
  margin: 0;
}
article.post header.post-header h1.post-title a.post-title-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  border-bottom: none;
  transition: 0.3s ease-in-out;
  color: #26272b;
}
article.post header.post-header h1.post-title a.post-title-link::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background: #26272b;
  visibility: hidden;
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
}
article.post header.post-header h1.post-title a.post-title-link:hover::after {
  visibility: visible;
  transform: scaleX(1);
}
article.post header.post-header h1.post-title a.post-title-link:active {
  top: 0.1em;
}
article.post header.post-header div.post-meta span.meta-block {
  display: block;
  margin: 0.5em;
}
article.post main.post-main a.header-link,
article.post main.post-main a.headerlink {
  border-bottom: none;
}
article.post main.post-main a.header-link:hover,
article.post main.post-main a.headerlink:hover {
  border-bottom: none;
}
article.post main.post-main a.header-link:active,
article.post main.post-main a.headerlink:active {
  top: 0;
}
article.post main.post-main a.header-link::before,
article.post main.post-main a.headerlink::before {
  content: "#";
  margin-right: 0.3em;
}
article.post a.post-tag {
  display: inline-block;
  background: #9f1313;
  border: 0.1em solid #f5c6cb;
  padding: 0.15em;
}
article.post a.post-tag:nth-child(2n) {
  background: #237f23;
  border: 0.1em solid #c3e6cb;
}
article.post a.post-tag:nth-child(3n) {
  background: #2356af;
  border: 0.1em solid #b8daff;
}
article.post footer.post-footer {
  text-align: center;
}
article.post footer.post-footer div.post-tags a.post-tag {
  margin: 0.5em;
}
article.post div.tags-cloud {
  text-align: center;
}
article.post div.tags-cloud a.post-tag {
  margin: 0.1em 0.5em;
}
html[data-theme="dark"] article.post header.post-header h1.post-title a.post-title-link {
  color: #eee;
}
html[data-theme="dark"] article.post header.post-header h1.post-title a.post-title-link::after {
  background: #eee;
}
