div.reward {
  margin: 1em;
  text-align: center;
  color: #666;
  color: var(--color-reward-font);
}
button.reward-button {
  cursor: pointer;
  border: none;
  outline: 0;
  padding: 0.5em 0.5em;
  margin: 0.5em 0;
  background: #9f1313;
  border: 0.1em solid #f5c6cb;
}
div.qr {
  text-align: center;
}
div.qr div {
  padding: 0.5em;
  display: inline-block;
  text-align: center;
}
div.qr div img {
  width: 10em;
  margin: 0 auto;
  display: block;
}
