div.reward {
  margin: 1rem auto;
  width: 90%;
  text-align: center;
  color: #444;
}
div.reward div.qr {
  text-align: center;
}
div.reward div.qr div {
  padding: 0.5em;
  display: inline-block;
}
div.reward div.qr div img {
  width: 10rem;
  margin: 0 auto;
  display: block;
}
div.reward div.qr div span {
  display: block;
}
div.reward button.button {
  cursor: pointer;
  border: none;
  outline: 0;
  padding: 0.5em 0.5em;
  margin: 0.5em 0;
  background: #9f1313;
  border: 0.1em solid #f5c6cb;
}
