div.info {
  text-align: center;
}
img.author-avatar {
  width: 90%;
  display: block;
  margin: 1em auto;
  border: 0.3em solid #fff;
  border-radius: 50%;
  transition: box-shadow 0.3s ease-in-out, transform 1s ease-in-out;
}
img.author-avatar:hover {
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
  transform: rotateY(720deg);
}
div.author-name {
  color: #26272b;
  color: var(--color-author-name-font);
  font-size: 1.8rem;
  margin: 0.5em 0;
}
div.author-description {
  color: #444;
  color: var(--color-author-description-font);
  font-size: 1.2rem;
  margin: 0.5em 0;
}
div.site-count {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: 1em 0;
  text-align: center;
}
div.count-block {
  flex: 1 1 auto;
  border-left: 0.05em #666 solid;
  border-left: 0.05em var(--color-quote-font) solid;
  border-right: 0.05em #666 solid;
  border-right: 0.05em var(--color-quote-font) solid;
}
div.count-block:first-child {
  border-left: none;
}
div.count-block:last-child {
  border-right: none;
}
div.site-count-title {
  margin: 0;
  font-size: 1.2rem;
}
div.rss {
  margin: 1em 0;
  padding: 0;
}
a.rss-link {
  display: block;
  font-size: 1.5rem;
  color: #fff;
  background: #9f1313;
  border: 0.1em solid #f5c6cb;
  padding: 0.2em;
}
aside.sidebar {
  background: #ddd;
  background: var(--color-sidebar-background);
  background: url("/images/background.webp");
  background: var(--url-sidebar-background);
  flex: 1 1 auto;
  width: 25%;
  padding: 0;
}
aside.sidebar hr {
  background: repeating-linear-gradient(-45deg, #fff, #fff 0.25em, transparent 0.25em, transparent 0.5em);
  background: repeating-linear-gradient(-45deg, var(--color-hr-sidebar-background), var(--color-hr-sidebar-background) 0.25em, transparent 0.25em, transparent 0.5em);
}
div.search {
  height: 3em;
  display: block;
  text-align: center;
  background: #36e;
  color: #fff;
  padding-top: 0.5em;
}
input.search-input {
  width: 70%;
  height: 1.8em;
  border: none;
  border-bottom: 0.1em dotted #fff;
  background: #36e;
  color: #fff;
  transition: border-bottom 0.3s ease-in-out;
}
input.search-input:focus {
  border-bottom: 0.1em solid #fff;
}
input.search-input::placeholder {
  color: #fff;
  opacity: 0.7;
}
button.search-submit {
  position: static;
  transition: color 0.3s ease-in-out;
  color: #fff;
  text-decoration: none;
  padding: 0;
  margin: 0.25em;
  background: #36e;
  border: none;
}
button.search-submit:hover {
  color: #ddd;
  border: none;
}
div.sidebar-item {
  margin: 1em;
}
div.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-bottom: 1em;
}
a.toc-link.active {
  color: #36e;
  color: var(--color-link-hover-font);
  border-bottom: 0.05em solid #36e;
  border-bottom: 0.05em solid var(--color-link-hover-font);
}
@media (max-width: 60em) {
  aside.sidebar {
    width: 100%;
  }
  div.sidebar-item {
    text-align: center;
  }
  div.sidebar-item ul {
    padding: 0;
  }
  div.sidebar-item ul li {
    display: inline-block;
    margin: 0.5em 1em;
  }
  ol.toc {
    display: inline-block;
    text-align: left;
  }
  div.sidebar-sticky {
    position: static;
  }
}
